<!DOCTYPE html>
<html lang="en-us">

<head>

	<title>ngUtils</title>

	<style>

		.demoItemContainer {
			margin: 10px;
			padding: 10px;
		}

		.demoItemContainer span {
			margin-right: 10px;
		}

		.demoItemContainer span input{
			margin-right: 10px;
			height: 20px;
			width: 200px;
			font-size: 14px;
		}

	</style>

	<script src="plugins/bower_components/angular/angular.js"></script>
	<script src="input-formatter.js"></script>

	<script>

		angular.module('angulaDemoApp', ['form.input.formatter'])
				.controller('demoTestController', function($scope) {

					$scope.models = {
						number0: 0,
						number1: 0,
						number2: 0,
						number3: 0,
						number4: 0,
						number5: 0
					};

				});

	</script>

</head>

<body ng-app="angulaDemoApp" ng-controller="demoTestController">


<div class="demoItemContainer">

	<span>Number-0:</span>

	<span><input input-formatter="number" type="text" ng-model="models.number0"/></span>

	<span>Model Value : {{ models.number0 }}</span>

</div>

<div class="demoItemContainer">

	<span>Number-1:</span>

	<span><input input-formatter="number:1" type="text" ng-model="models.number1"/></span>

	<span>Model Value : {{ models.number1 }}</span>

</div>

<div class="demoItemContainer">

	<span>Currency-$-0:</span>

	<span><input input-formatter="currency:$" type="text" ng-model="models.number2"/></span>

	<span>Model Value : {{ models.number2 }}</span>

</div>

<div class="demoItemContainer">

	<span>Currency-$-2:</span>

	<span><input input-formatter="currency:$:2" type="text" ng-model="models.number3"/></span>

	<span>Model Value : {{ models.number3 }}</span>

</div>

<div class="demoItemContainer">

	<span>Percentage-%-0:</span>

	<span><input input-formatter="percentage:%" type="text" ng-model="models.number4"/></span>

	<span>Model Value : {{ models.number4 }}</span>

	<span>Filtered Model Value in percentage : {{ models.number4 | percentage:'#':2 }}</span>

</div>

<div class="demoItemContainer">

	<span>Percentage-#-3:</span>

	<span><input input-formatter="percentage:#:3" type="text" ng-model="models.number5"/></span>

	<span>Model Value : {{ models.number5 }}</span>

</div>

</body>

</html>